---
layout: default
---
  <div class="row no-gutters">
    {% for post in site.posts %}
    <div class="small-post col-lg-4 col-md-6 col-sm-12">
      <div class="post-info-header col-sm-12 no-gutters">
        <div class="pub-title {{ post.category }}" style="background-color: ">
          {{ post.publication }}
        </div>
        <div class="post-date">
          {{ post.date | date_to_string }}
        </div>
      </div>
      <div class="post-content-wrapper">
        <h3 class="col-sm-12">{{ post.title }}</h3>
        <p><div class="post-image" style="background-image:url({{ post.article-image }});"></div></p>
        <p class="post-content">{{ post.excerpt }}</p>
        <div class="post-content-cutoff">
        </div>
      </div>
      <p><a href="{{ post.article-link }}" target="_">Read On Site</a></p>
    </div>
    {% endfor %}
  </div>